/src/Tests/TestSerilog/bin
/src/Tests/TestSerilog/obj
/src/Log2Console/bin
/src/.vs/LogFmwk/v14/*.suo
/src/External/WindowsAPICodePack/Core/bin
/src/External/WindowsAPICodePack/Core/obj
/src/External/WindowsAPICodePack/Shell/obj
/src/External/WindowsAPICodePack/Shell/bin
/src/ICSharpCode.TextEditor/obj
/src/Log2Console/obj
/src/RichTextBoxLinks/bin
/src/RichTextBoxLinks/obj
/src/Tests/Test/obj
/src/Tests/Test/bin
/src/Tests/TestNLog/obj
/src/Tests/TestNLog/bin
/src/Tests/TestOther/bin
/src/Tests/TestOther/obj
/src/Log2Console/*.log
/src/packages
